@import 'src/def.css';
.navbar {
  background-color: #00aaff;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 3px solid #009BE9;
  border-radius: 4px;
}
.navbar a {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}
.navbar .icon{
  width: 45px;
  height: 45px;
  border-radius: 8px;
  margin: 2px;
}
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}