/*@import "id-ment.css";*/
root {
  font-family: Sans-Serif;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: #1988f7;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.navbar a {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

a .title {
  font-weight: 600;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}